/*
 * Power / memory reminders for later benchmark cleanup.
 */

/*
&cpuapp_sram {
    reg = <0x2003c000 DT_SIZE_K(16)>;
    ranges = <0x0 0x2003c000 0x20040000>;
};
*/

/*
&uart20 {
    status = "disabled";
};
*/

/ {
    bjmark0: bjmark0 {
        gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
    };

    aliases {
        bjmark0 = &bjmark0;
    };
};
